@font-face {
  font-family: meri;
  src: url(fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: agb;
  src: url(fonts/Agbalumo-Regular.ttf);
}

:root {
  font-size: 16px;
  --button-hover-bg: rgba(248, 248, 248, 0.7);
  --button-active-bg: rgba(248, 248, 248, 0.5);
  --bg: rgba(255, 99, 71, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: rgba(22, 189, 111, 0.5);
  height: 55px;
  font-size: 1.2rem;
  color: lavender;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: rgb(111, 255, 195);
}

.footer p:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer p:last-child a {
  display: flex;
  align-items: center;
}

.footer p:last-child a span {
  margin-left: 10px;
}
